{% extends "base.html" %}
{% load static %}
{% block body %}

        <table class="table table-striped">
          <thead>
            <tr>
                <th scope="col">UNIVERSITY NAME</th>
                <th scope="col">COUNTRY</th>
                <th scope="col">MEMBERSHIP CATEGORY</th>
                <th scope="col"> TYPE OF ESTABLISHMENT</th>
                <th scope="col">LEVEL OF PROGRESSION</th>
                <th scope="col"> WEBSITE</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
{% endblock body %}