{% extends "base.html" %}
{% load static %}
{% block body %}

<table class="table table-striped table-hover">
    <thead class="thead-dark">
    <tr>
        <th>#</th>
        <th scope="col">COUNTRY</th>
         <th scope="col">UNIVERSITY NAME</th>
         <th scope="col">IUCEA MEMBERSHIP STATUS</th>
         <th scope="col">TYPE OF ESTABLISHMENT</th>
         <th scope="col">LEVEL OF PROGRESSION</th>
         <th scope="col">WEBSITE</th>
    </tr>

    </thead>

    <tbody>

    <tr>
        {% for university in universities %}
        <th scope="row">{{ forloop.counter }}</th>
        <td style="font-size:18px;" class="text-primary"><strong> {{university.country}}</strong></td>
        <td style="font-size:18px;"class="text-success"><strong> {{university.university_name}}</strong></td>
        <td style="font-size:18px;"class="text-info"><strong> {{university.iucea_membership}}</strong></td>
        <td style="font-size:18px;"class="text-dark"><strong> {{university.type_of_establishment}}</strong></td>
        <td style="font-size:18px;"class="text-success"><strong> {{university.level_of_progression}}</strong></td>
        <td style="font-size:18px;"><strong><a href="{{university.website}}" target="_blank">{{university.website}}</a></strong></td>
    </tr>

    {% endfor %}


    </tbody>
</table>

{% endblock body %}